parameters:
  configuration: $(XA.Build.Configuration)
  xaSourcePath: $(System.DefaultWorkingDirectory)
  jdkTestFolder: $(JAVA_HOME_17_X64)
  remove_dotnet: false
  installTestSlicer: false
  installApkDiff: true
  installLegacyDotNet: false
  installLegacyXamarinAndroid: false
  updateMono: false
  androidSdkPlatforms: $(DefaultTestSdkPlatforms)
  repositoryAlias: 'self'
  commit: ''
  xaprepareScenario: AndroidTestDependencies        # Use 'EmulatorTestDependencies' for agents that need the emulator installed

steps:
- template: sdk-unified/steps/checkout/v1.yml@yaml-templates
  parameters:
    resource: ${{ parameters.repositoryAlias }}
    commit: ${{ parameters.commit }}
    clean: true
    submodules: recursive

- script: |
    echo "##vso[task.setvariable variable=JI_JAVA_HOME]${{ parameters.jdkTestFolder }}"
    echo "##vso[task.setvariable variable=DOTNET_TOOL_PATH]${{ parameters.xaSourcePath }}/bin/${{ parameters.configuration }}/dotnet/dotnet"
  displayName: set JI_JAVA_HOME to ${{ parameters.jdkTestFolder }}
  condition: and(succeeded(), ne(variables['agent.os'], 'Windows_NT'))

- script: |
    echo ##vso[task.setvariable variable=JI_JAVA_HOME]${{ parameters.jdkTestFolder }}
    echo ##vso[task.setvariable variable=DOTNET_TOOL_PATH]${{ parameters.xaSourcePath }}\bin\${{ parameters.configuration }}\dotnet\dotnet.exe
  displayName: set JI_JAVA_HOME to ${{ parameters.jdkTestFolder }}
  condition: and(succeeded(), eq(variables['agent.os'], 'Windows_NT'))

# Install .NET 6 for legacy tests
- ${{ if eq(parameters.installLegacyDotNet, true) }}:
  - template: use-dot-net.yaml@self
    parameters:
      version: 6.0
      quality: GA
      remove_dotnet: ${{ parameters.remove_dotnet }}

# Install latest .NET
- template: use-dot-net.yaml@self

- task: DotNetCoreCLI@2
  displayName: shut down existing build daemons
  inputs:
    command: custom
    custom: build-server
    arguments: shutdown

- ${{ if eq(parameters.updateMono, true) }}:
  - template: run-xaprepare.yaml@self
    parameters:
      displayName: run xaprepare-UpdateMono
      arguments: --s=UpdateMono --auto-provision=yes --auto-provision-uses-sudo=yes
      condition: and(succeeded(), eq(variables['agent.os'], 'Darwin'))
      xaSourcePath: ${{ parameters.xaSourcePath }}

- ${{ if eq(parameters.installLegacyXamarinAndroid, true) }}:
  - template: install-global-tool.yaml@self
    parameters:
      toolName: boots
      version: $(BootsToolVersion)
      continueOnError: false
  - powershell: boots --stable Xamarin.Android
    displayName: install Xamarin.Android stable

- template: run-xaprepare.yaml@self
  parameters:
    arguments: --s=${{ parameters.xaprepareScenario }}  --android-sdk-platforms="${{ parameters.androidSdkPlatforms }}"
    xaSourcePath: ${{ parameters.xaSourcePath }}

- task: DotNetCoreCLI@2
  displayName: build Xamarin.Android.Tools.BootstrapTasks.csproj
  inputs:
    projects: ${{ parameters.xaSourcePath }}/build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks.csproj
    arguments: -c ${{ parameters.configuration }} -bl:${{ parameters.xaSourcePath }}/bin/Test${{ parameters.configuration }}/BootstrapTasks.binlog

# Download and install .NET nupkgs
- task: DownloadPipelineArtifact@2
  inputs:
    artifactName: $(NuGetArtifactName)
    downloadPath: ${{ parameters.xaSourcePath }}/bin/Build${{ parameters.configuration }}/nuget-unsigned

- task: DownloadPipelineArtifact@2
  inputs:
    artifactName: $(LinuxNuGetArtifactName)
    downloadPath: ${{ parameters.xaSourcePath }}/bin/Build${{ parameters.configuration }}/nuget-unsigned
  condition: and(succeeded(), eq(variables['agent.os'], 'Linux'))

- task: DotNetCoreCLI@2
  displayName: extract workload packs
  inputs:
    projects: ${{ parameters.xaSourcePath }}/build-tools/create-packs/Microsoft.Android.Sdk.proj
    arguments: -t:ExtractWorkloadPacks -c ${{ parameters.configuration }} -v:n -bl:${{ parameters.xaSourcePath }}/bin/Test${{ parameters.configuration }}/extract-workloads.binlog

- ${{ if eq(parameters.installApkDiff, true) }}:
  - template: install-global-tool.yaml@self
    parameters:
      toolName: apkdiff
      version: $(ApkDiffToolVersion)

- ${{ if eq(parameters.installTestSlicer, true) }}:
  - template: install-global-tool.yaml@self
    parameters:
      toolName: dotnet-test-slicer
      version: $(TestSlicerToolVersion)
