*.userprefs
*.user
bin
Configuration.Override.props
Configuration.OperatingSystem.props
msfinal.pub
obj
packages
.DS_Store
.nuget
TestResult.xml
TestResult-*.xml
TestResult-*.csv
.vs/
.vscode/
.gradle/
Resource.designer.cs
logcat-*.txt
apk-sizes-*.txt
*.rawproto
*.binlog
src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.props
