[submodule "external/android-api-docs"]
    path = external/android-api-docs
    url = https://github.com/xamarin/android-api-docs
    branch = main
[submodule "external/apksig"]
    path = external/apksig
    url = https://android.googlesource.com/platform/tools/apksig
    branch = platform-tools-30.0.3
[submodule "external/debugger-libs"]
    path = external/debugger-libs
    url = https://github.com/mono/debugger-libs
    branch = main
[submodule "external/Java.Interop"]
    path = external/Java.Interop
    url = https://github.com/xamarin/java.interop.git
    branch = d17-5
[submodule "external/lz4"]
    path = external/lz4
    url = https://github.com/lz4/lz4.git
    branch = release
[submodule "external/mman-win32"]
    path = external/mman-win32
    url = https://github.com/alitrack/mman-win32.git
    branch = master
[submodule "external/nrefactory"]
    path = external/nrefactory
    url = https://github.com/xamarin/NRefactory.git
    branch = master
[submodule "external/opentk"]
    path = external/opentk
    url = https://github.com/mono/opentk.git
    branch = main
[submodule "external/robin-map"]
    path = external/robin-map
    url = https://github.com/Tessil/robin-map.git
    branch = master
[submodule "external/sqlite"]
    path = external/sqlite
    url = https://github.com/xamarin/sqlite.git
    branch = 3.35.2
[submodule "external/xamarin-android-tools"]
    path = external/xamarin-android-tools
    url = https://github.com/xamarin/xamarin-android-tools
    branch = dev/jonp/jonp-net8-sync
