# Set default behavior to automatically normalize line endings.
* text=auto

# This file mainly controls line ending conversion behavior.
# Example: https://github.com/dotnet/corefx/blob/e1eb5618df4e06a9dd9e44db349fb20d14f8d3ac/.gitattributes
# Docs:    https://git-scm.com/docs/gitattributes

# The meaning of the attributes is a little odd
# crlf means CONVERT to lf in the repo & Linux/Mac, checkout as crlf on Windows
# lf will always be lf, so WSL could use *.sh files as lf

# Windows/IDE files that should checkout as crlf
*.bat       text    eol=crlf
*.cmd       text    eol=crlf
*.cs        text    eol=crlf
*.csproj    text    eol=crlf
*.md        text    eol=crlf
*.proj      text    eol=crlf
*.projitems text    eol=crlf
*.props     text    eol=crlf
*.rtf       text    eol=crlf
*.shproj    text    eol=crlf
*.sln       text    eol=crlf
*.targets   text    eol=crlf
*.tpnitems  text    eol=crlf
*.txt       text    eol=crlf
*.vcproj    text    eol=crlf
*.vcxproj   text    eol=crlf
*.wixproj   text    eol=crlf
*.wxs       text    eol=crlf
*.xml       text    eol=crlf

# Unix files that should checkout as lf
Makefile    text    eol=lf
*.mk        text    eol=lf
*.sh        text    eol=lf
