[submodule "external/android-api-docs"]
    path = external/android-api-docs
    url = https://github.com/xamarin/android-api-docs
    branch = main
[submodule "external/debugger-libs"]
    path = external/debugger-libs
    url = https://github.com/mono/debugger-libs
    branch = main
[submodule "external/Java.Interop"]
    path = external/Java.Interop
    url = https://github.com/xamarin/java.interop.git
    branch = main
[submodule "external/lz4"]
    path = external/lz4
    url = https://github.com/lz4/lz4.git
    branch = release
[submodule "external/mman-win32"]
    path = external/mman-win32
    url = https://github.com/alitrack/mman-win32.git
    branch = master
[submodule "external/nrefactory"]
    path = external/nrefactory
    url = https://github.com/xamarin/NRefactory.git
    branch = master
[submodule "external/robin-map"]
    path = external/robin-map
    url = https://github.com/Tessil/robin-map.git
    branch = master
[submodule "external/xamarin-android-tools"]
    path = external/xamarin-android-tools
    url = https://github.com/xamarin/xamarin-android-tools
    branch = main
[submodule "external/xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
