# xamarin-android Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

# Android Designer team relies on the files in this directory,
# any changes there should be ran past them
/src/Mono.Android/java/mono/android/ @garuma