# Xamarin.Android NativeAOT trimmable typemap configuration.

-dontobfuscate

-keep class net.dot.jni.** { *; <init>(...); }
-keep class net.dot.android.crypto.** { *; <init>(...); }
# NativeAOT resolves these interface methods through JNI during startup.
-keep class mono.android.IGCUserPeer { *; }

-keepclassmembers class * extends android.view.View {
   *** set*(...);
}

-keepclassmembers class * extends android.view.View {
   <init>(android.content.Context,android.util.AttributeSet);
   <init>(android.content.Context,android.util.AttributeSet,int);
}
