<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Xamarin.Forms_Performance_Integration">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="26" />
	<application android:label="Xamarin.Forms.Performance.Integration"></application>
</manifest>
