<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Mono.Android_TestsMultiDex">
	<uses-sdk android:minSdkVersion="10" />
	<application android:label="Xamarin.Android.RuntimeTestsMultiDex" android:name="android.apptests.App">
		<activity
				android:name="android.apptests.RenamedActivity"
				android:configChanges="keyboardHidden"
		/>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SET_TIME_ZONE" />
</manifest>
