#!/usr/bin/make -f

build:
build-arch:
build-indep:
override_dh_strip:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_strip_nondeterminism:
override_dh_shlibdeps:
	echo "noop"

%:
	dh $@ 
