Xamarin.Android.BindingResolveImportLib1/Jars/com/xamarin/android/test/binding/resolveimport/Lib1.class
Xamarin.Android.BindingResolveImportLib1/Jars/lib1.jar
Xamarin.Android.BindingResolveImportLib1/Jars/lib1.zip
Xamarin.Android.BindingResolveImportLib1/Jars/zipped/
Xamarin.Android.BindingResolveImportLib2/Jars/lib2.jar
Xamarin.Android.BindingResolveImportLib2/Jars/com/xamarin/android/test/binding/resolveimport/Lib2.class
Xamarin.Android.BindingResolveImportLib2/libs/
Xamarin.Android.BindingResolveImportLib3/Jars/com/xamarin/android/test/binding/resolveimport/Lib3.class
Xamarin.Android.BindingResolveImportLib3/Jars/lib3.jar
Xamarin.Android.BindingResolveImportLib3/Jars/lib3.zip
Xamarin.Android.BindingResolveImportLib3/Jars/zipped/
Xamarin.Android.BindingResolveImportLib4/Jars/com/xamarin/android/test/binding/resolveimport/Lib4.class
Xamarin.Android.BindingResolveImportLib4/Jars/lib4.jar
Xamarin.Android.BindingResolveImportLib4/libs/

