<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xml.SgmlReader" version="1.8.14" targetFramework="net45" />
  <package id="Mono.Posix.NETStandard" version="1.0.0" targetFramework="net472" />
  <package id="Xamarin.LibZipSharp" version="1.0.2" targetFramework="net472" />
</packages>