# .NET for Android Pipeline - Public Build
# This pipeline runs on the public dnceng instance for:
# - PRs from forks (contributors)
# - Main or release branch CI builds
# Internal branches use the DevDiv pipeline (azure-pipelines.yaml)

name: $(Build.SourceBranchName)-$(Build.SourceVersion)-$(Rev:r)

trigger:
  branches:
    include:
    - main
    - release/*

pr:
  branches:
    include:
    - main
    - release/*

parameters:
- name: macTestAgentsUseCleanImages   # Test agents we do not need to clean up when finished because they are not reused
  default: true

# Repository resources - checkout android-tools to force multi-repo checkout behavior
resources:
  repositories:
  - repository: android-tools
    type: github
    name: dotnet/android-tools
    endpoint: public
    ref: refs/heads/main

# Global variables
variables:
- template: /build-tools/automation/yaml-templates/variables.yaml@self
# Override for public pipeline
- name: DefaultJavaSdkMajorVersion
  value: 21
# Override pool images for public Microsoft-hosted agents
- name: HostedMacImage
  value: macOS-14
- name: LinuxPoolImage
  value: ubuntu-22.04
- name: NetCorePublicPoolName
  value: NetCore-Public
- name: WindowsPoolImageNetCorePublic
  value: windows.vs2022.amd64.open
- name: LinuxPoolImageNetCorePublic
  value: build.Ubuntu.2204.amd64.open

# Public builds don't use 1ES templates - just plain stages
stages:
# macOS Build Stage
- stage: mac_build
  displayName: Mac
  jobs:
  - job: mac_build_create_installers
    displayName: macOS > Build
    pool:
      name: Azure Pipelines
      vmImage: $(HostedMacImage)
      os: macOS
    timeoutInMinutes: 240
    cancelTimeoutInMinutes: 5
    workspace:
      clean: all
    steps:
    - checkout: self
      path: s/android
      persistCredentials: false

    # Checkout a second repo to force multi-repo checkout behavior
    # https://learn.microsoft.com/en-us/azure/devops/pipelines/repos/multi-repo-checkout?view=azure-devops#checkout-path
    - checkout: android-tools
      path: s/android-tools

    - template: /build-tools/automation/yaml-templates/build-macos-steps.yaml
      parameters:
        xaSourcePath: $(System.DefaultWorkingDirectory)/android
        installerArtifactName: $(InstallerArtifactName)
        nugetArtifactName: $(NuGetArtifactName)
        testAssembliesArtifactName: $(TestAssembliesArtifactName)
        windowsToolchainPdbArtifactName: $(WindowsToolchainPdbArtifactName)
        buildResultArtifactName: Build Results - macOS
        use1ESTemplate: false

# Windows Build Stage
- stage: win_build_test
  displayName: Windows
  dependsOn: []
  jobs:
  - job: win_build_test
    displayName: Windows > Build & Smoke Test
    pool:
      name: $(NetCorePublicPoolName)
      demands:
      - ImageOverride -equals $(WindowsPoolImageNetCorePublic)
    timeoutInMinutes: 240
    steps:
    - checkout: self
      persistCredentials: false

    - template: /build-tools/automation/yaml-templates/build-windows-steps.yaml
      parameters:
        buildResultArtifactName: Build Results - Windows
        use1ESTemplate: false

# Linux Build Stage
- stage: linux_build
  displayName: Linux
  dependsOn: []
  jobs:
  - job: linux_build_create_sdk_pack
    displayName: Linux > Build
    pool:
      name: $(NetCorePublicPoolName)
      demands:
      - ImageOverride -equals $(LinuxPoolImageNetCorePublic)
    timeoutInMinutes: 240
    workspace:
      clean: all
    variables:
      CXX: g++-10
      CC: gcc-10
    steps:
    - checkout: self
      path: s/android
      persistCredentials: false

    # Checkout a second repo to force multi-repo checkout behavior
    - checkout: android-tools
      path: s/android-tools

    - script: |
        sudo apt-get update
        sudo apt-get install -y g++-10 gcc-10
      displayName: install g++-10 and gcc-10

    - template: /build-tools/automation/yaml-templates/build-linux-steps.yaml
      parameters:
        buildResultArtifactName: Build Results - Linux
        xaSourcePath: $(System.DefaultWorkingDirectory)/android
        nugetArtifactName: $(LinuxNuGetArtifactName)
        use1ESTemplate: false

# Package Tests Stage
- template: /build-tools/automation/yaml-templates/stage-package-tests.yaml
  parameters:
    macTestAgentsUseCleanImages: ${{ parameters.macTestAgentsUseCleanImages }}
    use1ESTemplate: false

# Linux Tests Stage
- stage: linux_tests
  displayName: Linux Tests
  dependsOn: 
  - mac_build
  - linux_build
  jobs:
  - job: linux_tests_smoke_1
    displayName: Linux > Tests > MSBuild 1
    pool:
      name: $(NetCorePublicPoolName)
      demands:
      - ImageOverride -equals $(LinuxPoolImageNetCorePublic)
    timeoutInMinutes: 180
    workspace:
      clean: all
    steps:
    - template: /build-tools/automation/yaml-templates/setup-test-environment-public.yaml
      parameters:
        useAgentJdkPath: false
        use1ESTemplate: false

    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: $(TestAssembliesArtifactName)
        downloadPath: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)

    - template: /build-tools/automation/yaml-templates/run-nunit-tests.yaml
      parameters:
        testRunTitle: Xamarin.Android.Build.Tests - Linux BuildTest
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        dotNetTestExtraArgs: --filter "Name = BuildTest"

    - template: /build-tools/automation/yaml-templates/upload-results.yaml
      parameters:
        configuration: $(XA.Build.Configuration)
        artifactName: Test Results - MSBuild - Linux 1
        use1ESTemplate: false

    - template: /build-tools/automation/yaml-templates/fail-on-issue.yaml

  - job: linux_tests_smoke_2
    displayName: Linux > Tests > MSBuild 2
    pool:
      name: $(NetCorePublicPoolName)
      demands:
      - ImageOverride -equals $(LinuxPoolImageNetCorePublic)
    timeoutInMinutes: 180
    workspace:
      clean: all
    steps:
    - template: /build-tools/automation/yaml-templates/setup-test-environment-public.yaml
      parameters:
        useAgentJdkPath: false
        use1ESTemplate: false

    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: $(TestAssembliesArtifactName)
        downloadPath: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)

    - template: /build-tools/automation/yaml-templates/run-nunit-tests.yaml
      parameters:
        testRunTitle: Xamarin.Android.Build.Tests - Linux PackagingTest
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        dotNetTestExtraArgs: --filter "Name = PackagingTest"

    - template: /build-tools/automation/yaml-templates/run-nunit-tests.yaml
      parameters:
        testRunTitle: Xamarin.Android.Build.Tests - Linux XASdkTests
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        dotNetTestExtraArgs: --filter "Name = XASdkTests & Name != XamarinLegacySdk"

    - template: /build-tools/automation/yaml-templates/run-nunit-tests.yaml
      parameters:
        testRunTitle: Xamarin.Android.Build.Tests - Linux AndroidDependenciesTests
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        dotNetTestExtraArgs: --filter "Name = AndroidDependenciesTests"

    - task: ShellScript@2
      displayName: Test dotnet-local.sh
      inputs:
        scriptPath: dotnet-local.sh
        args: build samples/HelloWorld/HelloWorld/HelloWorld.DotNet.csproj

    - template: /build-tools/automation/yaml-templates/upload-results.yaml
      parameters:
        configuration: $(XA.Build.Configuration)
        artifactName: Test Results - MSBuild - Linux 2
        use1ESTemplate: false

    - template: /build-tools/automation/yaml-templates/fail-on-issue.yaml

# MSBuild Tests Stage
- stage: msbuild_dotnet
  displayName: MSBuild Tests
  dependsOn: mac_build
  jobs:
  - job: mac_msbuild_tests
    strategy:
      parallel: 10
    displayName: macOS > Tests > MSBuild
    pool:
      name: Azure Pipelines
      vmImage: $(HostedMacImage)
      os: macOS
    timeoutInMinutes: 240
    cancelTimeoutInMinutes: 5
    steps:
    - template: /build-tools/automation/yaml-templates/setup-test-environment-public.yaml
      parameters:
        installTestSlicer: true
        use1ESTemplate: false

    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: $(TestAssembliesArtifactName)
        downloadPath: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)

    - template: /build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
      parameters:
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        testFilter: ''
        testRunTitle: Xamarin.Android.Build.Tests - macOS
        retryFailedTests: false
        xaSourcePath: $(System.DefaultWorkingDirectory)

    - template: /build-tools/automation/yaml-templates/upload-results.yaml
      parameters:
        artifactName: Test Results - MSBuild - macOS-$(System.JobPositionInPhase)
        xaSourcePath: $(System.DefaultWorkingDirectory)
        use1ESTemplate: false

    - template: /build-tools/automation/yaml-templates/fail-on-issue.yaml
      parameters:
        condition: true

  - job: win_msbuild_tests
    strategy:
      parallel: 8
    displayName: Windows > Tests > MSBuild
    pool:
      name: $(NetCorePublicPoolName)
      demands:
      - ImageOverride -equals $(WindowsPoolImageNetCorePublic)
    timeoutInMinutes: 240
    cancelTimeoutInMinutes: 5
    steps:
    - script: netsh int ipv4 set global sourceroutingbehavior=drop

    - template: /build-tools/automation/yaml-templates/kill-processes.yaml

    - template: /build-tools/automation/yaml-templates/clean.yaml

    - template: /build-tools/automation/yaml-templates/setup-test-environment-public.yaml
      parameters:
        useAgentJdkPath: false
        installTestSlicer: true
        use1ESTemplate: false

    - task: DownloadPipelineArtifact@2
      inputs:
        artifactName: $(TestAssembliesArtifactName)
        downloadPath: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)

    - template: /build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
      parameters:
        testAssembly: $(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/$(DotNetStableTargetFramework)/Xamarin.Android.Build.Tests.dll
        testFilter: ''
        testRunTitle: Xamarin.Android.Build.Tests - Windows
        retryFailedTests: false
        xaSourcePath: $(System.DefaultWorkingDirectory)

    - template: /build-tools/automation/yaml-templates/upload-results.yaml
      parameters:
        artifactName: Test Results - MSBuild - Windows-$(System.JobPositionInPhase)
        xaSourcePath: $(System.DefaultWorkingDirectory)
        use1ESTemplate: false

    - template: /build-tools/automation/yaml-templates/fail-on-issue.yaml
      parameters:
        condition: true
