# Xamarin.Android Nightly Pipeline

name: $(Build.SourceBranchName)-$(Build.SourceVersion)-$(Rev:r)

trigger:
  - none

pr:
  - none

# External sources, scripts, tests, and yaml template files.
resources:
  repositories:
  - repository: yaml-templates
    type: github
    name: xamarin/yaml-templates
    ref: refs/heads/main
    endpoint: xamarin
  - repository: monodroid
    type: github
    name: xamarin/monodroid
    endpoint: xamarin

# Global variables
variables:
- template: yaml-templates/variables.yaml

stages:
- stage: mac_build
  displayName: Build
  dependsOn: []
  jobs:
  - job: mac_build_create_installers
    displayName: macOS > Create Installers
    pool:
      name: VSEng-Xamarin-RedmondMac-Android-Untrusted
      demands: macOS.Name -equals Monterey
    timeoutInMinutes: 420
    workspace:
      clean: all
    variables:
      - group: Xamarin-Secrets
      - group: Xamarin Signing
      - group: xamops-azdev-secrets
      - name: Codeql.Enabled
        value: true
    steps:
    - checkout: self
      submodules: recursive

    - template: yaml-templates/commercial-build.yaml
      parameters:
        makeMSBuildArgs: /p:EnableRoslynAnalyzers=true /p:EnableNativeAnalyzers=true

    - template: yaml-templates/upload-results.yaml
      parameters:
        xaSourcePath: $(System.DefaultWorkingDirectory)/xamarin-android
        artifactName: Build Results - Nightly macOS
        includeBuildResults: true

- stage: test
  displayName: Test
  dependsOn: mac_build
  variables:
    - group: Xamarin-Secrets
    - group: xamops-azdev-secrets
  jobs:
  - job: emulator_tests
    displayName: macOS > Tests > APKs (Emulator)
    timeoutInMinutes: 180
    strategy:
      matrix:
        Android21-x86:
          avdApiLevel: 21
          avdAbi: x86
          avdType: default
        Android23-x86:
          avdApiLevel: 23
          avdAbi: x86
          avdType: default
        Android24-x86:
          avdApiLevel: 24
          avdAbi: x86
          avdType: default
        Android26-x86_64:
          avdApiLevel: 26
          avdAbi: x86_64
          avdType: default
        Android28-x86_64:
          avdApiLevel: 28
          avdAbi: x86_64
          avdType: default
        Android30-x86_64:
          avdApiLevel: 30
          avdAbi: x86_64
          avdType: default
        Android31-x86_64:
          avdApiLevel: 31
          avdAbi: x86_64
          avdType: default
    pool:
      vmImage: $(HostedMacImage)
    workspace:
      clean: all
    steps:
    - template: yaml-templates/setup-test-environment.yaml
      parameters:
        configuration: $(XA.Build.Configuration)

    - template: yaml-templates/run-xaprepare.yaml
      parameters:
        displayName: install emulator
        arguments: --s=EmulatorTestDependencies

    - template: yaml-templates/run-dotnet-preview.yaml
      parameters:
        project: Xamarin.Android.sln
        arguments: -t:PrepareJavaInterop -c $(XA.Build.Configuration) -m:1 -v:n
        displayName: prepare java.interop $(XA.Build.Configuration)
        continueOnError: false

    - script: echo "##vso[task.setvariable variable=Java8SdkDirectory]$JAVA_HOME_8_X64"
      displayName: set Java8SdkDirectory

    - task: MSBuild@1
      displayName: install and launch emulator
      inputs:
        solution: tests/Mono.Android-Tests/Mono.Android-Tests.csproj
        configuration: $(XA.Build.Configuration)
        msbuildArguments: /t:InstallAvdImage;AcquireAndroidTarget /p:TestAvdApiLevel=$(avdApiLevel) /p:TestAvdAbi=$(avdAbi) /p:TestAvdType=$(avdType) /bl:$(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/install-emulator-$(avdApiLevel).binlog

    - template: yaml-templates/apk-instrumentation.yaml
      parameters:
        configuration: $(XA.Build.Configuration)
        testName: Mono.Android_Tests-$(avdApiLevel)-$(avdAbi)-$(avdType)
        project: tests/Mono.Android-Tests/Mono.Android-Tests.csproj
        testResultsFiles: TestResult-Mono.Android_Tests-$(XA.Build.Configuration).xml
        extraBuildArgs: /p:TestAvdApiLevel=$(avdApiLevel) /p:TestAvdAbi=$(avdAbi) /p:TestAvdType=$(avdType)
        artifactSource: bin/Test$(XA.Build.Configuration)/Mono.Android_Tests-Signed.apk
        artifactFolder: Default

    - task: MSBuild@1
      displayName: shut down emulator
      inputs:
        solution: tests/Mono.Android-Tests/Mono.Android-Tests.csproj
        configuration: $(XA.Build.Configuration)
        msbuildArguments: /t:AcquireAndroidTarget,ReleaseAndroidTarget /p:TestAvdApiLevel=$(avdApiLevel) /p:TestAvdAbi=$(avdAbi) /p:TestAvdType=$(avdType) /bl:$(System.DefaultWorkingDirectory)/bin/Test$(XA.Build.Configuration)/shutdown-emulator.binlog
      condition: always()

    - template: yaml-templates/upload-results.yaml
      parameters:
        configuration: $(XA.Build.Configuration)
        artifactName: Test Results - Emulator $(avdApiLevel)-$(avdAbi)-$(avdType) - macOS

    - template: yaml-templates/fail-on-issue.yaml

  # TimeZoneInfo test jobs
  - template: yaml-templates/run-timezoneinfo-tests.yaml
    parameters:
      node_id: 1

  - template: yaml-templates/run-timezoneinfo-tests.yaml
    parameters:
      node_id: 2

  - template: yaml-templates/run-timezoneinfo-tests.yaml
    parameters:
      node_id: 3

  - template: yaml-templates/run-timezoneinfo-tests.yaml
    parameters:
      node_id: 4

  # Localization test jobs
  - template: yaml-templates/run-localization-tests.yaml
    parameters:
      node_id: 1

  - template: yaml-templates/run-localization-tests.yaml
    parameters:
      node_id: 2

  - template: yaml-templates/run-localization-tests.yaml
    parameters:
      node_id: 3

  - template: yaml-templates/run-localization-tests.yaml
    parameters:
      node_id: 4

  - template: yaml-templates/run-systemapp-tests.yaml
