# .NET for Android Pipeline - Public Build
# This pipeline runs on the public dnceng instance for:
# - PRs from forks (contributors)
# - Main or release branch CI builds
# Internal branches use the DevDiv pipeline (azure-pipelines.yaml)

name: $(Build.SourceBranchName)-$(Build.SourceVersion)-$(Rev:r)

trigger:
  branches:
    include:
    - main
    - release/*

pr:
  branches:
    include:
    - main
    - release/*

parameters:
- name: macTestAgentsUseCleanImages   # Test agents we do not need to clean up when finished because they are not reused
  default: true

# Global variables
variables:
- template: /build-tools/automation/yaml-templates/variables.yaml@self

# Public builds don't use 1ES templates - just plain stages
stages:
- template: /build-tools/automation/yaml-templates/build-macos-public.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/build-windows-public.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/build-linux-public.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-linux-tests-public.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-msbuild-tests-public.yaml@self
  parameters:
    use1ESTemplate: false
