# .NET for Android Pipeline - Public Build
# This pipeline runs on the public dnceng instance for:
# - PRs from forks (contributors)
# - Main or release branch CI builds
# Internal branches use the DevDiv pipeline (azure-pipelines.yaml)

name: $(Build.SourceBranchName)-$(Build.SourceVersion)-$(Rev:r)

trigger:
  branches:
    include:
    - main
    - release/*

pr:
  branches:
    include:
    - main
    - release/*

parameters:
- name: macTestAgentsUseCleanImages   # Test agents we do not need to clean up when finished because they are not reused
  default: true

# Resources must be defined even if conditionally used - Azure Pipelines validates at parse time
# Using a public dotnet repository as placeholder since yaml-templates is private
resources:
  repositories:
  - repository: yaml-templates
    type: github
    name: dotnet/java-interop
    ref: refs/heads/main
    endpoint: public

# Global variables
variables:
- template: /build-tools/automation/yaml-templates/variables.yaml@self

# Public builds don't use 1ES templates - just plain stages
stages:
- template: /build-tools/automation/yaml-templates/build-macos.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/build-windows.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/build-linux.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-package-tests.yaml@self
  parameters:
    macTestAgentsUseCleanImages: ${{ parameters.macTestAgentsUseCleanImages }}
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-linux-tests.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-msbuild-tests.yaml@self
  parameters:
    use1ESTemplate: false

- template: /build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml@self
  parameters:
    usesCleanImages: ${{ parameters.macTestAgentsUseCleanImages }}
    use1ESTemplate: false
