/Microsoft.Android.Sdk/Sdk/AutoImport.props
/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.BundledVersions.targets
/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.SupportedPlatforms.targets
/Xamarin.Android.Common.props
/Xamarin.Android.BuildInfo.txt
