<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.CodeDom" version="1.0.0.1" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net451" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.15.4" targetFramework="net462" />
  <package id="Irony" version="0.9.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net451" />
  <package id="NuGet.Common" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Configuration" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.DependencyResolver.Core" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Frameworks" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.LibraryModel" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Packaging" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Packaging.Core" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.ProjectModel" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Protocol" version="4.6.0" targetFramework="net462" />
  <package id="NuGet.Versioning" version="4.6.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
</packages>